In [1]:
import pandas as pd
from matplotlib import pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [3]:
df = pd.read_csv('data.csv')

In [7]:
df.head()

           x          y
0  48.955889  60.723602
1  44.687196  82.892504
2  60.297327  97.379897
3  45.618644  48.847153
4  38.816818  56.877213